<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/categorie.css">
    <title>Categorias</title>
</head>
<body>
    <nav class = "navbar navbar-dark bg-dark" id="nav">
        <a class = "navbar-brand" href="/">
            <img class="home" src="/img/home.png" >
        </a>
        <a class = "navbar-brand" href="/admin/products" style="position: relative; left:35%" >Products</a>
        <a class = "navbar-brand" href="/logout">Sair</a>
    </nav>
    <div class="container">
        <br>
        <h1>Listagem de Categorias</h1>
        <br>
        <div class="card">
            <table class="table b">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Slug</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                <% categories.forEach(function(category) { %>
                    <tr>
                    <td><%= category.id %></td>
                    <td><%= category.name %></td>
                    <td><%= category.slug %></td>
                    <td>
                        <a class="btn btn-dark" href='/admin/products/<%= category.id %>'>Produtos</button>
                    </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
        <hr/>
    </div> 
    
</body>
</html>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
